body{
    background:#E6E6FA;
    margin:0;
    font-family: Calibri, sans-serif;
    height:100%;
}

header {
   display: block;
    height: 120px;
    background:url('http://storage1.static.itmages.ru/i/15/0730/h_1438263650_6892619_2a1adc2910.png') repeat-x center bottom, linear-gradient(180deg,#7B68EE, #E6E6FA);
}

.content{
    display:block;
    margin-left:165px;
    width:80%;
    height:400px;
    background:#D8BFD8;
    border:2px 	#9370DB outset;
    padding-bottom: 100px;
}
h1{
    text-align: center;
    font-size:20px;
    color:#E9967A;
}
li{
    color:#B22222;
    font-size: 16px;
    line-height:30pt;
    list-style-type:circle;
}
.content img{
    position:relative;
    bottom:130px;
    left:850px;
}
footer {
    background:linear-gradient(210deg,#E0FFFF, #B0C4DE);
    height: 50px;
}
 footer p {
    text-align:center;
   padding: 10px 0 10px 0;
}
 .imgcat{
     display:inline-block;
     text-align:center;
     margin-left:100px;
 }
 .imgcat img{
     width:200px;
     height:200px;
     margin:20px;
     border: 2px groove #5C5CE6;
     border-radius: 15%;
     box-shadow: 10px 10px 8px #352247;
 }

 .menu li{
     list-style:none;
 }
.menu li a{
    text-decoration:none;
    color:#1F1F4C;
}
.menu>li{
    position:relative;
}

.menu .nav{
    display:none;
}
.menu>li:hover .nav{
    display:block;
}
.menu:not(.nav) {
       margin-left:10px;
   }
 .menu, .nav li{
    width:130px;
    height:45px;
    background:#9494FF url('http://storage2.static.itmages.ru/i/15/0731/h_1438351517_9378257_b9fbc181dc.png')no-repeat 90px -3px;
    border:3px ridge #5C5CE6;
    border-radius:20%;
    float:left;
    color:#1F1F4C;
    padding: 7px 0 0 10px;
    margin-left:-50px;
     font-weight:bold;
}
.nav a:hover{
    color:#2447B2;
}

